* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.container {
  max-width: 1140px !important;
}
.btn_cart {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #fff;
}
.btn_allpages {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #fff;
}
.bg_green {
  background-color: green;
}
.text_green {
  color: green;
}
.bg_card {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  height: 282px;
  border: 2px solid transparent;
}
.bg_card p {
  background: #242424;
  border-radius: 0 0 10px 10px;
  padding: 10px 37px 16px 30px;
}
.btn_gettouch {
  padding: 12px 24px;
  border-radius: 4px;
  background: linear-gradient(136deg, #df381f 0%, #aa0606 100%, #438308 100%);
}
.br_hovergreen:hover {
  border: 2px solid #438308;
}
.br_hoverred:hover {
  border: 2px solid #df381f;
}
